.register_parent {
  width: 40em;
  margin: 4em auto;
}

.register_div {
  padding: 2em;
  background-color: aliceblue;
  border-radius: 1em;
}

.forms_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
}

.register_header {
  font-size: 5em;
  font-weight: 500;
  padding: 0.2em;
}

.credentials--div {
  margin: 1em 2em;
  width: 100%;
}

.input--field {
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2em;
  padding: 1em;
  margin: 0.5em 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
  background-color: aliceblue;
  border-radius: 0.5em;
  outline-width: 0;
}

.input--field:hover,
.input--field:focus {
  background-color: powderblue;
}

/* .button--div {
  width: 100%;
  margin: 1em 2em;
  background: linear-gradient(
    90deg,
    rgb(9, 216, 221) 0%,
    rgb(14, 80, 242) 100%
  );
   border-radius: 4em; 
  transition: transform 0.2s;
} */

/* .button {
  font-family: inherit;
  font-size: 2em;
  padding: 0.5em;
  background-color: inherit;
}

.button:hover {
  cursor: pointer;
}

.button--div:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(14, 86, 255) 0%,
    rgb(20, 86, 150) 100%
  );
}

.button--div:active {
  transform: scale(0.95);
} */

.signin--div {
  font-family: inherit;
}

.signin_route {
  cursor: pointer;
  font-size: 1.8em;
  transition: 0.5s;
}

.signin_route:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}
