.imagetoboDetected {
  /* width: 100%; */
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

.relative {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 2px #148ef2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
